# Configuración de la Base de Datos
# Reemplaza con tu URI de MongoDB
MONGODB_URI=mongodb+srv://usuario:contraseña@cluster.mongodb.net/nombre-db?retryWrites=true&w=majority

# Configuración del Servidor
PORT=3012

# Configuración de la Aplicación
NODE_ENV=development 